/* underline works normally */
.underline { text-decoration: underline; }

/* default colors */
body {
	color: #839496;
	background-color: #002b36;
}

/* default bold */
.bold {
	color: #93a1a1;
}

/* inverted defaults */
.inverted {
	color: #002b36;
	background-color: #839496;
}

/* inverted bold defaults */
.inverted.bold {
	color: #002b36;
	background-color: #93a1a1;
}

/* cursor colors */
.cursor {
	color: #002b36;
	background-color: #eee8d5;
}

/* ANSI colors */
.color-black { color: #073642; }
.color-red { color: #dc322f; }
.color-green { color: #859900; }
.color-yellow { color: #b58900; }
.color-blue { color: #268bd2; }
.color-magenta { color: #d33682; }
.color-cyan { color: #2aa198; }
.color-white { color: #eee8d5; }

.bold.color-black { color: #002b36; } /* default cursor color */
.bold.color-red { color: #cb4b16; }
.bold.color-green { color: #586e75; }
.bold.color-yellow { color: #657b83; }
.bold.color-blue { color: #839496; } /* default color */
.bold.color-magenta { color: #6c71c4; }
.bold.color-cyan { color: #93a1a1; } /* default bold color */
.bold.color-white { color: #fdf6e3; }

.backg-black { background-color: #073642; } /* default bold background-color */
.backg-red { background-color: #dc322f; }
.backg-green { background-color: #859900; }
.backg-yellow { background-color: #b58900; }
.backg-blue { background-color: #268bd2; }
.backg-magenta { background-color: #d33682; }
.backg-cyan { background-color: #2aa198; }
.backg-white { background-color: #eee8d5; } /* default cursor background-color */

.bgBold.backg-black { background-color: #002b36; } /* default background-color */
.bgBold.backg-green { background-color: #586e75; }
.bgBold.backg-yellow { background-color: #657b83; }
.bgBold.backg-blue { background-color: #839496; }
.bgBold.backg-cyan { background-color: #93a1a1; }
.bgBold.backg-white { background-color: #fdf6e3; }
.bgBold.backg-red { background-color: #cb4b16; }
.bgBold.backg-magenta { background-color: #6c71c4; }

