.decor-none      { text-decoration: none; }
.decor-underline { text-decoration: underline; }

.weight-bold.color-black { color: #002b36; }
.weight-bold.color-green { color: #586e75; }
.weight-bold.color-yellow { color: #657b83; }
.weight-bold.color-blue { color: #839496; }
.weight-bold.color-cyan { color: #93a1a1; }
.weight-bold.color-white { color: #fdf6e3; }
.weight-bold.color-red { color: #cb4b16; }
.weight-bold.color-magenta { color: #6c71c4; }

.weight-normal.color-black { color: #073642; }
.weight-normal.color-white { color: #eee8d5; }
.weight-normal.color-yellow { color: #b58900; }
.weight-normal.color-magenta { color: #d33682; }
.weight-normal.color-red { color: #dc322f; }
.weight-normal.color-blue { color: #268bd2; }
.weight-normal.color-cyan { color: #2aa198; }
.weight-normal.color-green { color: #859900; }

.backg-black { background-color: #073642; }
.backg-white { background-color: #eee8d5; }
.backg-yellow { background-color: #b58900; }
.backg-magenta { background-color: #d33682; }
.backg-red { background-color: #dc322f; }
.backg-blue { background-color: #268bd2; }
.backg-cyan { background-color: #2aa198; }
.backg-green { background-color: #859900; }

/* currently only foreground has a value

.bweight-bold.backg-black { background-color: #002b36; }
.bweight-bold.backg-green { background-color: #586e75; }
.bweight-bold.backg-yellow { background-color: #657b83; }
.bweight-bold.backg-blue { background-color: #839496; }
.bweight-bold.backg-cyan { background-color: #93a1a1; }
.bweight-bold.backg-white { background-color: #fdf6e3; }
.bweight-bold.backg-red { background-color: #cb4b16; }
.bweight-bold.backg-magenta { background-color: #6c71c4; }

.bweight-normal.backg-black { background-color: #073642; }
.bweight-normal.backg-white { background-color: #eee8d5; }
.bweight-normal.backg-yellow { background-color: #b58900; }
.bweight-normal.backg-magenta { background-color: #d33682; }
.bweight-normal.backg-red { background-color: #dc322f; }
.bweight-normal.backg-blue { background-color: #268bd2; }
.bweight-normal.backg-cyan { background-color: #2aa198; }
.bweight-normal.backg-green { background-color: #859900; }

*/

