body, .inverted.cursor, .inverted .inverted, .inverted .cursor {
	color: white;
	background-color: black;
}

.cursor, .inverted, .inverted .inverted.cursor {
	color: black;
	background-color: white;
}

.bold   { font-weight: bold; }

.underline { text-decoration: underline; }

#grid .color-black   { color: black; }
#grid .color-red     { color: red; }
#grid .color-green   { color: green; }
#grid .color-yellow  { color: yellow; }
#grid .color-blue    { color: blue; }
#grid .color-magenta { color: magenta; }
#grid .color-cyan    { color: cyan; }
#grid .color-white   { color: white; }

#grid .backg-black   { background-color: black; }
#grid .backg-red     { background-color: red; }
#grid .backg-green   { background-color: green; }
#grid .backg-yellow  { background-color: yellow; }
#grid .backg-blue    { background-color: blue; }
#grid .backg-magenta { background-color: magenta; }
#grid .backg-cyan    { background-color: cyan; }
#grid .backg-white   { background-color: white; }
