body {
	margin: 0;
}
textarea {
	font-family: monospace;
	font-weight: bold;
}
#grid ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#grid li {
	display: block;
	white-space: nowrap;
	line-height: 1em;
}
#grid span {
	font-family: monospace;
	white-space: pre;
	/* prevent weird characters from mis-sizing our grid */
	display: inline-block;
	vertical-align: top;
	width: 1ch;
}
div#controls {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	opacity: 0.5;
}
input[value="Ctrl"], select#themeSelect {
	float: right;
	margin-left: 0.5em;
}
