/* These style rules are required (and/or modifed) by the script */
.op {
	visibility:hidden;
}
.admin {
	visibility:hidden;
}
.timestamp {
	color:#aaaaaa;
	display:none;
}
/* nick colors */
p {
	margin: 0px;
}
.normal {
	color:#ffffff;
}
.server {
	color:#00ff00;
}
.client {
	color:#ff0000;
}
.cyan {
	color:#00ffff;
}
.guest {
	color:#ffc800;
}
.magenta {
	color:#ff00ff;
}
.msg {
	color:#aaaaaa;
}
.action {
	color:#ffff00;
}
